* {
  text-align: center;
}

body{
    background-color: wheat
}

table{
    align-self: center;
    align-items: center;
}

td {
    border: 1px solid darkred;
}

a{
    color: red;
}

a:hover{
    color: blue;
}